@import "../../variables.scss";
@import "../../mixins.scss";

.button {
  $root: &;
  text-align: center;
  padding: 10px 25px;
  border: 2px solid black;
  text-transform: uppercase;


  a {
    color: $color-white;

    &:hover {
      color: $color-hover-green;
      background: $color-black;
    }
  }

  &-black {
    background: $color-black;
    color: $color-white;

    #{root}:hover {
      color: $color-hover-green;
    }
  }
}
